/*.outer {*/
/*position: relative;*/
/*width: 40%;*/
/*!*height: 120px;*!*/
/*margin: 20px auto;*/
/*border: 2px solid #c00;*/
/*}*/

/*.inner {*/
/*position: absolute;*/
/*!*width: 100px;*!*/
/*!*height: 100px;*!*/
/*top: 10px;*/
/*left: 50%;*/
/**/
/*!*margin-left: -50px;*!*/
/*background-color: #00c;*/
/*}*/

/*.outer {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/

.parent-wrapper {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.parent {
    /*padding-top: 20%;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    font-size: 0;
    flex-wrap: wrap;
}

.child {
    display: inline-block;
    background: blue;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 20%;
    width: calc(100% * (1 / 2) - 10px - 1px)
}